table.users-table{
  border-collapse: collapse;
  position: relative;
  width: 100%;
  table-layout: fixed;
  max-width:1200px
}

table.users-table th,td {
  display: table-cell;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  word-wrap:break-word;
  max-width: 25%;
}

table.users-table th{
  position:sticky;
}

table.users-table tbody tr:hover{
    background-color: #dddddd;
}

.table-container{
  display: flex;
  width: 60%;
  height:70vh;
  /* padding:10px 0px; */
  overflow: scroll;
  margin:20px 0px;
  justify-content: center;
  align-items: flex-start;
  min-width:50px;
}

.bar-container{
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 10px;
  min-width:50px;
  overflow: hidden;
}

.bar-container input{
  width: 30%;
  border: 1px solid rgba(76, 76, 77, 0.425);
  border-radius: 5px;
  padding: 5px;
  margin:10px;
  min-width: 50px;
}

.bar-container input:focus{
  outline: none;
  /* border: 1px solid rgb(76, 76, 77); */
  box-shadow: 0 0 8px rgba(71, 71, 71, 0.5);
}



@media screen and (min-width: 1200px) {
 .bar-container, .table-container{
   width:60%
 }


}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .bar-container, .table-container{
    width:70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .bar-container, .table-container{
    width:90%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .bar-container, .table-container{
    width:90%;
  }


  .bar-container *{
    margin: 10px 0px;
  }

  .bar-container input{
    width:60%;
  }

}

@media screen and (max-width: 575px) {
  .bar-container, .table-container{
    width:80%;
  }

  .bar-container{
    background-color: khaki;
  }

  .bar-container *{
    margin: 10px 0px;
  }

  .bar-container input{
    width:80%;
  }

}