
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 80px;
  }
  
  .authorization-form{
    padding:15px;
    display: flex;
    flex-direction: column;
    width:30%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .authorization-form input{
    padding: 12px 20px;
    /* width:100%; */
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .authorization-form input:focus{
    outline: none;
    box-shadow: 0 0 8px rgba(71, 71, 71, 0.5);
  }
  
  .authorization-form input[type=submit]{
    /* background-color: rgb(15, 91, 255); */
    color:white;
    border: 1px solid rgba(121, 107, 107, 0);
    transition: all 0.2s;
    cursor: pointer;
  }
  
  /* .authorization-form input[type=submit]:hover{
    background-color: rgba(15, 91, 255, 0.815);
    transform: scale(1.045);
  } */
  
  input.inactive{
    background-color: rgb(133, 133, 133) ;
  }

  input.active{
    background-color: rgb(15, 91, 255);
  }

  input.active:hover{
    background-color: rgba(15, 91, 255, 0.815);
    transform: scale(1.045);
  }

  .authorization-form label{
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  
  .authorization-form label *{
    margin: 5px 0px;
  }

  .notification{
    font-size: 0.8em;
    color: rgb(133, 133, 133) ;
  }

@media screen and (min-width: 1200px) {
  .authorization-form{
    width:350px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .authorization-form{
    width:30%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .authorization-form{
    width:33%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .authorization-form{
    width:40%;
  }
}

@media screen and (max-width: 575px) {
  .authorization-form{
    width:50%;
  }
}







/* @media screen and (min-width: 1200px) {

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 576px) and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

} */