*{
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 80px;
}

.page-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  color:rgb(10, 12, 15);
  text-align: center;
}

@media screen and (max-width: 575px) {
  .page-container{
    padding: 0px 20px;
  }
}

.btn{
  background-color: rgb(15, 91, 255);
  color:white;
  border: 1px solid rgba(121, 107, 107, 0);
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover{
  background-color: rgba(15, 91, 255, 0.815);
}

.btn:active{
  outline: none;
  background-color: rgba(12, 60, 163, 0.815);
}


